{% extends "base_posible.html"  %}
{%block title %}Editor de tu Perfil{% endblock %}
{% load static %}
{% block content %}
<div class="profileContent">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-12 large-12">
      <h1>Edición de Perfil</h1>
    </div>
    <div class="cell small-12 medium-12 large-12">
          <div class="verticalMSG callout warning {%if not vert %} hide {% endif %}">
            <p>Estás participando en una de las “Oportunidades Especiales” de la convocatoria,  
            realizaremos actividades adicionales en tu Estado, como son: capacitaciones y 
            un Campamento Estatal para elegir a los proyectos que formarán parte del Campamento POSiBLE. 
            Si quieres saber más, ve a la sección de <a href="{%if vert == '3' %}{% static 'docs/Sinaloa_POSiBLE_2018.pdf' %}{%else%}#{% endif%}" target="_blank">"Oportunidades Especiales".</a> </p>
          </div>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <form method="post" action="../perfil/" enctype="multipart/form-data" style="width:100%;">
      {% csrf_token %}
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="cell small-12 medium-6 large-6">
            <div class="grid-x grid-padding-x grid-padding-y">
              <div class="cell small-12 medium-6 large-6">
                <label class="modelSubtitles">Nombre (s)</label>
                {{form.nombre}}
              </div>
              <div class="cell small-12 medium-6 large-6">
                <label class="modelSubtitles">Apellidos</label>
                {{form.apellido}}
              </div>
              <div class="cell small-12 medium-6 large-6">
                <label class="modelSubtitles">Estado de residencia</label>
        		{{form.id_estado}}
              </div>
              <div class="cell small-12 medium-6 large-6">
                <label class="modelSubtitles">Municipio</label>
                {{form.municipio}}
              </div>
              <div class="cell small-12 medium-6 large-6">
                <label class="modelSubtitles">Fecha de nacimiento</label>
                {{form.nacimiento}}
              </div>
              <div class="cell small-12 medium-6 large-6">
                <label class="modelSubtitles">Sexo</label>
                {{form.sexo}}
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-6 imgPerfil">
            <input type="hidden" name="dtaImg" id="imgData"/>
            <p style="color:red;">* Opcional</p>
            <div class="wrapperTopNew"><a href="#popup_ImgCrop"><img id="res" src="{{img_photo}}"/></a><a href="#popup_ImgCrop"> 
                <div class="imageTopLabel">
                  <div class="grid-x">
                    <div class="cell small-9 medium-9 large-9">
                      <p>Subir imagen</p>
                    </div>
                    <div class="cell shrink"><i class="fi-camera large"></i></div>
                  </div>
                </div></a></div>
          </div>
          <div class="cell small-12 medium-3 large-3">
            <label class="modelSubtitles">Máximo grado de estudios</label>
           	{{form.maximo_grado}}
          </div>
          <div class="cell small-12 medium-3 large-3">
            <label class="modelSubtitles">Institución Educativa</label>
            {{form.escuela}}
          </div>
          <div class="cell small-12 medium-3 large-3">
            <div class="grid-x">
              <div class="cel small-12 medium-12 large-12">
                <label class="modelSubtitles">Teléfono 1 (Móvil)</label>
              </div>
              <div class="cell small-3 medium-3 large-3">
                {{form.tel_1_lada}}
              </div>
              <div class="cell small-9 medium-9 large-9">
                {{form.tel_1}}
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-3 large-3">
          	<div class="grid-x">
              <div class="cell small-12 medium-12 large-12">
                <label class="modelSubtitles">Teléfono 2 (Casa/Móvil)</label>
              </div>
              <div class="cell small-3 medium-3 large-3">
                {{form.tel_2_lada}}
              </div>
              <div class="cell small-9 medium-9 large-9">
                {{form.tel_2}}
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-3 large-3">
            <label class="modelSubtitles">Correo electrónico</label>
            {{form.email}}
          </div>
          <div class="cell small-12 medium-3 large-3">
            <label class="modelSubtitles">Correo alternativo</label>
            {{form.email_alt}}
          </div>
          <div class="cell small-12 medium-6 large-6">
			<label class="modelSubtitles">Tu área de experiencia</label>
          {{form.area_experiencia}}
          </div>
          <div class="cell small-12 medium-6 large-6">
            <div class="grid-x stakeHolders">
              <div class="cell small-12 medium-3 large-3">
                <label class="modelSubtitles">¿Tienes socios?</label>
                <input type="radio" name="socios" value="si" {%if has_sh %}checked="checked" {%endif%} class="yes-no" {% if ya_envio %}disabled {% endif %}/>&nbsp;Si
                <input type="radio" name="socios" value="no" {%if not has_sh %}checked="checked" {%endif%} class="yes-no" {% if ya_envio %} disabled {% endif %}/>&nbsp;No
              </div>
              <div class="cell small-12 medium-9 large-9">
              	<p style="color:red;">* Opcional</p>
              </div>
              <div class="cell small-12 medium-12 large-12 hide sociosControl">
                <label>&nbsp;</label>{{form.socios}}
              </div>
            </div>
          </div>
          <div class="cell small-6 medium-6 large-6">
            <label class="modelSubtitles">¿Cómo te enteraste?</label>
            <p style="color:red;">* Opcional</p>
			{{form.como_te_enteraste}}
          </div>
          <div class="cell small-12 medium-12 large-12 btn_canva_container">
            <button type="submit" class="button warning"><strong> Guardar perfil</strong></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% include 'controlPanel/popUP_cropper.html' %}
{%include 'controlPanel/popUP_changepassword.html'%}
{% endblock %}

{% block footer %}
{% endblock %}