{% extends "base_posible.html" %}
{% load static %}

{%block title %} ¡Bienvenido a tu sitio de la Convocatoria 2018! {% endblock %}
{% block header %}
	{% include 'thank_header.html' %}
{% endblock %}

{%block script_login %}
{% endblock%}
{%block content %}
<div style="background-color:white; padding:0% 5% 5% 5%"> 
	<div class="grid-x">
		<div class="cell small-12">
			<h1>Pantalla de Correos para Emprendedores Rezagados</h1>
		</div>
		{% if not sending %}

		<div class="cell small-12">Tienes {{p_0_50 | length}} proyectos en rango de 0% a 50%</div>
		<div class="cell small-12" style="margin-bottom:1%"> Pero sólo {{p_0_50_7 | length}} proyectos llevan más de una semana ahí </div>

		<div class="cell small-12">Tienes {{p_50_75 | length}} proyectos en rango de 50% a 75%</div>
		<div class="cell small-12" style="margin-bottom:1%"> Pero sólo {{p_50_75_7 | length}} proyectos llevan más de una semana ahí </div>

		<div class="cell small-12">Tienes {{p_75_90 | length}} proyectos en rango de 75% a 90%</div>
		<div class="cell small-12" style="margin-bottom:1%"> Pero sólo {{p_75_90_7 | length}} proyectos llevan más de una semana ahí </div>
		
		<div class="cell small-12">Tienes {{p_90_100 | length}} proyectos en rango de 90% a 100%</div>
		<div class="cell small-12" style="margin-bottom:1%"> Pero sólo {{p_90_100_7 | length}} proyectos llevan más de una semana ahí </div>
	</div>
	<hr>
	<br>	
		<form action="" method="POST">
			{% csrf_token %}
			<p><input type=radio name="0_50_op" id="0_50_opt1" value="1"/> <label for="0_50_opt1"> Enviar correo 0% a 50% de avance</label>
			<input type=radio name="0_50_op" id="0_50_opt2" value="2" checked/> <label for="0_50_opt2"> Enviar correo 0% a 50% de avance (más de una semana)</label></p>
			
			<p><input type=radio name="50_75_op" id="50_75_opt1" value="1"/> <label for="50_75_opt1"> Enviar correo 50% a 75% de avance</label>
			<input type=radio name="50_75_op" id="50_75_opt2" value="2" checked/> <label for="50_75_opt2"> Enviar correo 50% a 75% de avance (más de una semana)</label></p>
			
			<p><input type=radio name="75_90_op" id="75_90_opt1" value="1"/> <label for="75_90_opt1"> Enviar correo 75% a 90% de avance</label>
			<input type=radio name="75_90_op" id="75_90_opt2" value="2" checked/> <label for="75_90_opt2"> Enviar correo 75% a 90% de avance (más de una semana)</label></p>
			
			<p><input type=radio name="90_100_op" id="90_100_opt1" value="1"/> <label for="90_100_opt1"> Enviar correo 90% a 100% de avance</label>
			<input type=radio name="90_100_op" id="90_100_opt2" value="2" checked/> <label for="90_100_opt2"> Enviar correo 90% a 100% de avance (más de una semana)</label></p>
			<p style="text-align:center;"><input type="submit" class="button warning" style="font-weight:bold" value="Enviar Correos"/></p>
		</form>
		{% else %}
			<div class="cell small-12">
				<h1> Enviados</h1>
			</div>
			<div class="cell small-12">
				<p> De 0 a 50 por ciento de avance se enviaron {{env_50}} <p>
				<p> De 50 a 75 por ciento de avance se enviaron {{env_75}} <p>
				<p> De 75 a 90 por ciento de avance se enviaron {{env_90}} <p>
				<p> De 90 a 100 por ciento de avance se enviaron {{env_100}} <p>
			</div>
		{% endif %}

</div>
{% endblock %}



