{% load static %}
<footer>
  <div class="grid-x align-center">
    <div class="cell small-12 medium-3 small-offset-1 medium-offset-0"><a href="https://posible.org.mx"> <img src="{% static 'img/logo/logo_blanco.png' %}"/></a>
      <ul class="no-bullet">
        <li><a href="https://noticias.posible.org.mx" target="_blank">NOTICIAS</a></li>
        <li><a href="https://noticias.posible.org.mx/conoce-que-es-posible/" target="_blank">CONOCE QUE ES POSiBLE</a></li>
        <li><a href="https://posiblelinx.com/" target="_blank">POSiBLE LINX</a></li>
        <li><a href="https://posibleplus.mx/" target="_blank">POSiBLE +</a></li>
      </ul>
    </div>
    <div class="cell small-12 medium-3 small-offset-1 medium-offset-0">
      <h4><strong>Patrocinadores</strong></h4>
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-3"><a href="https://fundaciontelevisa.org" target="_blank"><img src="{% static 'img/logo/fundacion_televisa2016.png'%}"/></a></div>
        <div class="cell small-12 medium-3"><a href="https://www.montepiedad.com.mx/portal/" target="_blank"><img src="{% static 'img/logo/monte_de_piedad.png'%}"/></a></div>
      </div>
    </div>
    <div class="cell small-12 medium-2 small-offset-1 medium-offset-0"><span>
        <h4><strong>Acerca de</strong></h4></span>
      <ul class="no-bullet">
        <li><a href="https://noticias.posible.org.mx/staff/" target="_blank">Equipo POSiBLE</a></li>
        <li><a href="https://noticias.posible.org.mx/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a></li>
        <!--li: a(href="") Contacto-->
        <!--li: a(href="") Anunciate con nosotros-->
      </ul>
    </div>
  </div>
  <hr/>
  <div class="grid-x align-center">
    <div class="cell small-12 medium-3 small-offset-1 medium-offset-0">
      <h4><strong>Síguenos</strong></h4>
      <div class="grid-x">
        <div class="cell shrink redes"><a href="https://www.facebook.com/PosibleMex" target="_blank"><i class="fi-social-facebook large"></i></a></div>
        <div class="cell shrink redes"><a href="https://twitter.com/PosibleMex" target="_blank"><i class="fi-social-twitter large"></i></a></div>
        <div class="cell shrink redes"><a href="https://www.youtube.com/user/PosibleMex" target="_blank"><i class="fi-social-youtube large"></i></a></div>
        <div class="cell shrink redes"><a href="https://www.instagram.com/posiblemex/" target="_blank"><i class="fi-social-instagram large"></i></a></div>
        <div class="cell shrink redes"><a href="https://www.linkedin.com/company/3246994/" target="_blank"><i class="fi-social-linkedin large"></i></a></div>
      </div>
    </div>
    <div class="cell small-12 medium-3 small-offset-1 medium-offset-0">
      <h4><strong>Internacional</strong></h4>
      <ul class="no-bullet">
        <li><a href="https://www.posible.us/" target="_blank">POSiBLE US</a></li>
      </ul>
    </div>
    <div class="cell small-12 medium-2 small-offset-1 medium-offset-0">
    	<h4><strong>Oportunidades especiales</strong></h4>
      <ul class="no-bullet">
        <li><a href="https://bajacalifornia.posible.org.mx/" target="_blank">POSiBLE Baja California</a></li>
        <li><a href="https://oaxaca.posible.org.mx/" target="_blank">POSiBLE Oaxaca</a></li>
        <li><a href="https://sinaloa.posible.org.mx/" target="_blank">POSiBLE Puro Sinaloa</a></li>
      </ul>
    </div>
  </div>
  <br/>
</footer>