{%load static%}
<div class="registerDiv  {% if not is_register %}hide{% endif %}">
	<h2>Registro</h2>
	<form id="reg_form" action="../registro/" method="POST" content="text/html; charset=UTF-8">
		{% csrf_token %}
		<div class="grid-x align-center">
			<div class="cell small-12 medium-12 large-12">
  				<input id="nombre" type="text" name="n" placeholder="Tu Nombre(s)"/>
			</div>
			<div class="cell small-12 medium-12 large-12">
	  			<input id="correo" type="email" name="e" placeholder="Correo electrónico"/>
			</div>
			<div class="cell small-12 medium-12 large-12">
	  			<input id= "correo_conf" type="email" name="ce" placeholder="Verifica tu correo electrónico"/>
			</div>
			{% if status %}
			<div class="cell small-12 medium-12 large-12">				
	  			<div class="callout alert">
	  			{% if status == -4 %} 
                	<p>Este correo ya tiene una cuenta en POSiBLE.</p>
                {% elif status == -3 %} 
                	<p>El formato del correo no es el indicado.</p>
                {% elif status == -2 %}
                	<p>Los correos no son iguales.</p>
                {% elif status == -1 %}
                	<p>Hay un campo vacío favor de verificar.</p>
               	{% endif %}
                </div>
			</div>
			{% endif %}
			<div class="cell small-12 medium-12 large-12 avpriv">
	  			<input id="checkbox1" type="checkbox"/><label for="checkbox1">&nbsp;He leído y acepto el <strong> 
	  			<a href="#popup_ap">aviso de privacidad.</a></strong></label>
			</div>
			<div class="cell small-12 medium-12 large-12 termsandreg">
			        <input id="checkbox2" type="checkbox"/><label for="checkbox2">&nbsp;He leído y acepto los <strong><a href="#popup_term">términos y condiciones</a></strong></label>
			</div>
			<div class="cell small-4 medium-4 large-4"><strong><a href="" id="regSubmitButton" class="button warning">Registrarse</a></strong></div>
			<div class="cell small-12 medium-12 large-12">
 				<div class="grid-x">
   					<div class="cell small-12 medium-12 large-12"><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="button fb"> 
 						<div class="grid-x sizeBtn">
	   						<div class="cell small-11 medium-11 large-11">
								<p>Regístrate con Facebook&nbsp;  </p>
	   						</div>
   							<div class="cell small-1 medium-1 large-1 icono"><i class="fi-social-facebook medium"></i></div>
 						</div></a>
 					</div>
   					<div class="cell small-12 medium-12 large-12"><a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}" class="button lkin"> 
 						<div class="grid-x sizeBtn">
	   						<div class="cell small-11 medium-11 large-11">
								<p>Regístrate con Linkedin&nbsp;  </p>
	   						</div>
	   						<div class="cell small-1 medium-1 large-1 icono"><i class="fi-social-linkedin medium"></i></div>
 						</div></a>
 					</div>
 				</div>
			</div>
		</div>
	</form>
</div>