		<br/>
<p>Términos y condiciones de la Convocatoria POSiBLE 2018 que usted expresamente entiende y acepta</p>		
<ul>
<li>La aplicación para la Convocatoria de POSiBLE 2018 estará abierta del 02 de febrero al 27 de abril de 2018, hasta las 23:59 horas (tiempo del Centro de México).<strong> No habrá prórrogas.</strong></li>
<li>La única forma de enviar documentos para su consideración es a través de esta plataforma. No se considerarán documentos enviados por correo electrónico o físicamente.</li>
<li>Acepto la obligación de proveer información verídica, confiable, completa y exacta para la postulación en la Convocatoria POSiBLE 2018.</li>
<li>Los proyectos seleccionados entienden que no obtendrán dinero como premio.</li>
<li>POSiBLE no tiene fines de lucro, no proporciona créditos y <strong>no solicita dinero </strong> para participar en alguna de las etapas.</li>
<li>El resultado del proceso de Convocatoria es irrevocable.</li>
</ul>
	<br/>